<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        <h1>Heading 1 - Mobile</h1>
        <h2>Heading 2 - Mobile</h2>
        <h3>Heading 3 - Mobile</h3>
        <h4>Heading 4 - Mobile</h4>
        <h5>Heading 5 - Mobile</h5>
        <h6>Heading 6 - Mobile</h6>

        <hr>

        <h1 class="heading-uppercase">Heading Uppercase 1 - Mobile</h1>
        <h2 class="heading-uppercase">Heading Uppercase 2 - Mobile</h2>

        <div class="heading-uppercase-small">Heading Uppercase Small - Mobile</div>

        <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu non sodales neque sodales ut etiam sit amet.</p>
        <p class="crossed-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu non sodales neque sodales ut etiam sit amet.</p>
        <p class="mini-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu non sodales neque sodales ut etiam sit amet.</p>
        <p class="mini-text-uppercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu non sodales neque sodales ut etiam sit amet.</p>

        <hr>

        {% include 'icon-cart' %}
        {% include 'icon-search' %}
        {% include 'icon-hamburger' %}
        {% include 'icon-chevron-down' %}
        {% include 'icon-chevron-right' %}
        {% include 'icon-chevron-left' %}

        <hr>

        <button>Button test</button>
        <button class="btn">Button test</button>
        <button class="btn btn-pink">Button test</button>

        <a href="#">Button test</a>
        <a href="#" class="btn">Button test</a>
        <a href="#" class="btn btn-pink">Button test</a>
        
        <div style="background: black; padding: 20px; margin: 30px 0;">
          <button class="btn btn-ghost">Button test</button>
        </div>

        <button class="btn btn-ghost btn-ghost-black">Button test</button>

        <br><br>

        <button class="btn btn-small">Button small</button>
        <button class="btn">Button default</button>
        <button class="btn btn-large">Button large</button>

        <br><br>

        <button class="btn btn-pink" disabled>Button test</button>

        <hr>

      </div>
    </div>
  </div>
</div>
